# Byte-code files
*.pyc
__pycache__/
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/
# For specific tools like pipenv
.direnv/
pip-selfcheck.json

# IDE-specific files
.idea/ # PyCharm
.vscode/ # VS Code
*.iml # IntelliJ IDEA
.project # Eclipse
.settings/ # Eclipse
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Database files
*.sqlite3
*.db

# Environment variables
.env
.flaskenv

# Log files
*.log

# Testing
.pytest_cache/

# Coverage files
.coverage
htmlcov/

# Miscellaneous
*.zip
*.tar.gz

/env/
/.quarto/
